* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: skyblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}

header h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 1rem;
  color: black;
}

.how-it-works {
  margin-top: 40px;
  max-width: 1150px;
  margin: 1rem auto;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.steps div {
  flex-basis: calc(33.33% - 1rem);
}

.steps img {
  display: block;
  margin-bottom: 100px;
  margin: 30px;
  width: 300px;
  height: 200px;
  align-content: center;
}

.popular-products {
  max-width: 1150px;
  margin: 2rem auto;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.products div {
  flex-basis: calc(33.33% - 1rem);
}

.products img {
  display: block;
  width: 300px;
  height: 200px;
  margin: 30px;
  margin-bottom: 20px;
}

.products h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.products p {
  margin-top: 0.5rem;
  color: black;
}

nav ul {
	list-style-type: none;
	color: white;
	margin: 0;
	display
}

nav ul a {
	color: white;
	font-family: 'Roboto', sans-serif;*

}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: skyblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

footer h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}

footer h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
}